[submodule "docs/code_documentation/sr_interface"]
	path = docs/code_documentation/sr_interface
	url = https://github.com/shadow-robot/sr_interface.git

[submodule "docs/sr_core"]
	path = docs/code_documentation/sr_core
	url = https://github.com/shadow-robot/sr_core.git