h1 {
  color: #D00070;
}

h2 {
  color: #D00070;
}

h3 {
  color: #009F9F;
}

body {
  border: 1px solid #e1e4e5;
}

.navbar {
 color: #D00070;
 background-color: purple;
}

/* Sidebar */
.wy-side-nav-search, .wy-nav-top {
  border: 1px solid  #e1e4e5;;
}

.tight-table td {
  white-space: normal !important;
}
